<html>
<header>
<link rel="stylesheet" href= "Style.css">
</div>
<div class="Links">
   <a href="/homeFoodyfy">Home</a>
  <a href="/Sobre">Sobre</a>
  <a href="/Receitas">Receitas</a>
  <a href="/EditReceitas"> Editar Receitas</a>
  <a href="/CadastrarReceitas"> Cadastrar Receitas</a>
 
</div>
</header>
<body>
<h1> Asinhas de frango ao barbecue </h1>
<img 
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/asinha.png" 
alt="Asinhas">
<h2>  Autora: Vania Steroski</h2>
<h1> Receita da Asinha de frango</h1>
<h1>Ingredientes</h1>
<h2> 12 encontros de asinha de galinha, temperados a gosto,
        2 colheres de sopa de farinha de trigo,
        1/2 xícara (chá) de óleo,
        1 xícara de molho barbecue</h2>
        <h1>Modo de preparo</h1>
        <h2>  Em uma tigela coloque o encontro de asinha de galinha e polvilhe a farinha de trigo e misture com as mãos.,
        Em uma frigideira ou assador coloque o óleo quando estiver quente frite até ficarem douradas.,
        Para servir fica bonito com salada, ou abuse da criatividade.</h2>
</body>
</html>
