
{% block content %}
<section class="container form">
<link rel="stylesheet" href= "/Style.css">
<form  method="POST" action="/products" enctype ="multipart/form-data">

<div class="Links">
   <a href="/homeFoodyfy">Home</a>
  <a href="/Sobre">Sobre</a>
  <a href="/Receitas">Receitas</a>
  <a href="/EditReceitas"> Editar Receitas</a>
  <a href="/CadastrarReceitas"> Cadastrar Receitas</a>
  </div>

<div class="Cadastrar">
 <h3>Criar Receitas {{ReceitasId}}</h3>
</div>

<div class="img">
 <h3>imagem da Receitas</h3>
</div>

<div id="ingredients">
  <div class="ingredient">
    <input type="text" name="ingredients[]" value="" placeholder="Ingredient" />
  </div>
</div>
<button type="button" class="add-ingredient">Add Ingredient</button>


<div class="Preparo">
 <h3>Modo de Preparo</h3>
</div>

<div class="Informações">
 <h3>Informações Adicionais</h3>
</div>


<button  class="button"type="submit">Salvar</button>



</form>

</section>
{% endblock content %}
