<html>
<header>
<link rel="stylesheet" href= "Style.css">
</div>
<div class="Links">
   <a href="/homeFoodyfy">Home</a>
  <a href="/Sobre">Sobre</a>
  <a href="/Receitas">Receitas</a>
  <a href="/EditReceitas"> Editar Receitas</a>
  <a href="/CadastrarReceitas"> Cadastrar Receitas</a>
</div>
</header>
<body>
<h1>Docinhos pão-do-céu</h1>
<img  
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/doce.png" 
alt="Docinhos">
<h2>Autor:Ricardo Golvea</h2>
<h1>Ingredientes</h1>
<p>   1 kg de batata - doce,
        100 g de manteiga,
        3 ovos,
        1 pacote de coco seco ralado (100 g),
        3 colheres (sopa) de açúcar 1 lata de Leite Moça,
        1 colher (sopa) de fermento em pó,
        manteiga para untar,
        açúcar de confeiteiro'</p>
        <h1>Modo de preparo</h1>
        <p> Cozinhe a batata-doce numa panela de pressão, com meio litro de água, por cerca de 20 minutos. Descasque e passe pelo espremedor, ainda quente.,
        Junte a manteiga,os ovos, o coco ralado,o açúcar, o Leite Moça e o fermento em pó, mexendo bem após cada adição.,
        Despeje em assadeira retangular média, untada e leve ao forno médio (180°C), por aproximadamente 45 minutos. Depois de frio, polvilhe, com o,
        açúcar de confeiteiro e corte em quadrados.</P>
</body>
</html>