<html>
<header>
<link rel="stylesheet" href= "Style.css">
</div>
<div class="Links">
   <a href="/homeFoodyfy">Home</a>
  <a href="/Sobre">Sobre</a>
  <a href="/Receitas">Receitas</a>
  <a href="/EditReceitas"> Editar Receitas</a>
  <a href="/CadastrarReceitas"> Cadastrar Receitas</a>
 
</div>
</header>

<body>
<h1>Triplo bancon Burguer</h1>
<img
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png"
alt="hamburguer">
<div class ="hamburguer">
<h2>Autor:Jorge Relato</h2>
<h1> Receita do hamburguer</h1>
<h1>Ingredientes</h1>
<p>    3 kg de carne moída (escolha uma carne magra e macia
            300 g de bacon moído
            1 ovo
            3 colheres (sopa) de farinha de trigo,
            3 colheres (sopa) de tempero caseiro: feito com alho, sal, cebola, pimenta e cheiro verde processados no liquidificador
            30 ml de água gelada </p>

             <h1>Informações Adicionais</h1>
            <h2> Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. 
                Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres!

                Você sabia que a receita que precede o hambúrguer surgiu no século XIII, na Europa? 
                A ideia de moer a carne chegou em Hamburgo no século XVII, onde um açogueiro resolveu também temperá-la. Assim. 
                a receita foi disseminada nos Estados Unidos por alemães da região. 
                Lá surgiu a ideia de colocar o hambúrguer no meio do pão e adicionar outros ingredientes 
                como queijom tomates e alface
            </h2>
</div>
</body>
</html>

