

<html>
 

<head>
<link rel="stylesheet" href= "/Style.css">
  <div class="foodfy">
 <h1>Foodfy<h1>
</div>
<div class="Links">
  <a href="/Sobre">Sobre</a>
  <a href="/Receitas">Receitas</a>
  <a href="/EditReceitas"> Editar Receitas</a>
 <a href="/CadastrarReceitas"> Cadastrar Receitas</a>
 
</div>
</head>

<body>

<section class="ffy">
<h1><p> As melhores receitas</p></h1>
<p>Aprenda a construir os melhores pratos
  com receitas criadas por profissionais
  do mundo inteiro.</p>
<div id="wrapper">
<img 
src="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/layouts/specs/assets/119236-OQ05QX-268.png"
alt="chef">
</section>



<section class="receitas home1">
<h1><p> Receitas Mais Acessadas</p></h1>
</section>

<h1><p><a href="/Hamburguer">Triplo bacon burger</a></p></h1>
<img 
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" 
alt="lanche">


<h1><p><a href="/Pizza">Pizza 4 estações</a></p></h1>
<img 
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/pizza.png" 
alt="Pizza">
</section>


<h1><a href="/Asinha">Asinhas de frango ao barbecue</a></h1>
<img 
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/asinha.png" 
alt="Asinhas">
</section>


<h1><a href="/Lasanha"><p>Lasanha mac n' cheese</a></p></h1>
<img 
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/lasanha.png" 
alt="lasanha">
</section>


<h1><a href="/Espaguete"><p>Espaguete ao alho</a></p></h1>
<img 
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/macarrao.png" 
alt="Espaguete">
</section>



<h1><a href="/Docinhos"><p>Docinhos pão-do-céu</a></p></h1>
<img 
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/doce.png" 
alt="Docinhos">
</section>


</body>
</html> 
