<html>
<header>
<link rel="stylesheet" href= "Style.css">
</div>
<div class="Links">
   <a href="/homeFoodyfy">Home</a>
  <a href="/Sobre">Sobre</a>
  <a href="/Receitas">Receitas</a>
  <a href="/EditReceitas"> Editar Receitas</a>
  <a href="/CadastrarReceitas"> Cadastrar Receitas</a>
</div>
</header>

<body>
<h1> Lasanha mac n' cheese</h1>
<img 
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/lasanha.png" 
alt="lasanha">
<h2> Autor: Juliano Vieira</h2>
<h1>Receita da lasanha </h1>
<h1>Ingredientes</h1>
<h2>
massa pronta de lasanha,
        400 g de presunto,
        400 g de mussarela ralada,
        2 copos de requeijão,
        150 g de mussarela para gratinar</h2>

<h1>Modo de preparo</h1>
<h2> Em uma panela, coloque a manteiga para derreter.,
        Acrescente a farinha de trigo e misture bem com auxílio de um fouet.,
        Adicione o leite e misture até formar um creme homogêneo.,
        Tempere com sal, pimenta e noz-moscada a gosto.,
        Desligue o fogo e acrescente o creme de leite; misture bem e reserve.</h2>
<h1>Informações adicionais</h1>
<h2>Recheie a lasanha com o que preferir</h2>
</body>
</html>