<html>
<header>
<link rel="stylesheet" href= "Style.css">
</div>
<div class="Links">
  <a href="/homeFoodyfy">Home</a>
  <a href="/Sobre">Sobre</a>
  <a href="/Receitas">Receitas</a>
  <a href="/EditReceitas"> Editar Receitas</a>
  <a href="/CadastrarReceitas"> Cadastrar Receitas</a>
 
</div>
</header>
<body>

<h1>Pizza 4 estações </h1>
<img
src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/pizza.png" 
alt="Pizza">
<div class="pizza">
<h2><p>Ingredientes</p></h2>
<p>   1 xícara (chá) de leite
            1 ovo
            1 colher (chá) de sal
            1 colher (chá) de açúcar
            1 colher (sopa) de margarina            
            1 e 1/2 xícara (chá) de farinha de trigo
            1 colher (sobremesa) de fermento em pó
            1/2 lata de molho de tomate
            250 g de mussarela ralada grossa
            2 tomates fatiados
            azeitona picada
            orégano a gosto</P>
            <h3>Modo de preparo </h3>
              <p> No liquidificador bata o leite, o ovo, o sal, o açúcar, a margarina, a farinha de trigo e o fermento em pó até que tudo esteja encorporado.,
        Despeje a massa em uma assadeira para pizza untada com margarina e leve ao forno preaquecido por 20 minutos.,
        Retire do forno e despeje o molho de tomate.,
        Cubra a massa com mussarela ralada, tomate e orégano a gosto.,
        Leve novamente ao forno até derreter a mussarela.</p>

        <h3>Informações Adicionais</h3>
            <p> 
                Pizza de liquidificador é uma receita deliciosa e supersimples de preparar. 
                Feita toda no liquidificador, ela é bem prática para o dia a dia. 
                Aqui no TudoGostoso você também encontra diversas delícias práticas feitas no liquidificador:
                 massa de panqueca, torta de frango de liquidificador, pão de queijo de liquidificador, 
                bolo de banana, bolo de chocolate e muito mais
            </p>
</div>
</body>
</html>