<html>
    
<head>
<link rel="stylesheet" href= "Style.css">
</head>

<body>
<div class="Links">
  <a href="/homeFoodyfy">Home</a>
  <a href="/Sobre">Sobre</a>
  <a href="/Receitas">Receitas</a>
  <a href="/EditReceitas"> Editar Receitas</a>
  <a href="/CadastrarReceitas"> Cadastrar Receitas</a>
  </div>
    <div class="Descrição foody">
        <h1>Sobre o Foodyfy</h1>
        <h2>foodyfy é uma marca grandiosa no ramo da culinaria ,
         quando essa empresa foi criada ninguém imginava que ela iria crescer 
         rápido desse jeito e ficaria no topo por muito tempo </h2>
        </div>
        
        <div class="Historia">
        <h1> Como tudo começou</h1>
        <h2> quando essa empresa foi inaugorada (foi criada em 1992) , 
        ninguém imaginava que ela iria crescer desse jeito , 
        ela tá no topo a muitos anos , 
        já produz sua marca em varios paises da europa  ,
         como espanha , inglaterra , frança </h2>
         </div>
        
         <div class="receitas">
         <h1> Nossas receitas </h1> 
         <h2> são diversas receitas que  a gente serve em nossos restaurantes , temos varias receitas  para todos os gostos </h2> 
         </div>
        </section>

</body>
</html>



